<h1>Formulário de teste</h1>
<form action="/enviar" method="post">
<label>Título: </label><br>
<input type="text" name="titulo"> <br>

<label></label>Conteúdo</label><br>
<textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea><br>
<button type="submit">ENVIAR</button>
</form>